xml {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.code-editor {
  height: 33.33%;
  overflow: hidden;
  position: relative;
}

.editor-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #1e1e2c;
}

.react-codemirror2 {
  max-height: calc(100% - 30px);
  overflow: auto;
}
